---
import type { Launch } from "@contracts/launch";
import { image, date } from "@contracts/launch";
import LaunchResultTag from "./LaunchResultTag.astro";

interface Props {
  launch: Launch;
}

const { launch } = Astro.props;
---

<a
  href={`/launch/${launch.id}`}
  class="rounded-lg border shadow-md bg-gray-800 border-gray-700
hover:scale-105 hover:bg-gray-700 hover:border-gray-500 transition flex flex-col"
>
  <picture class="flex justify-center items-center p-4">
    <img
      class="rounded-lg w-25"
      src={image(launch)}
      alt={`Patch for launch ${launch.id}`}
    />
  </picture>
  <header class="p-4 flex-grow">
    <div class="flex items-center gap-4 flex-wrap mb-2">
    <h2 class="text-lg font-bold tracking-tight text-white">
      {launch.name} - Flight #{launch.flight_number}
    </h2>
    <LaunchResultTag launch={launch}/>
  </div>
  <div>
    <p class="mb-2 text-base text-gray-400">
      {date(launch)}
    </p>
    <p class="mb-3 text-base text-gray-300">
      {
        launch.details?.length > 100
          ? launch.details.slice(0, 100) + "..."
          : launch.details
      }
    </p>
  </div>
  </header>
</a>
